

<div style="text-align:center">
  <h1>
    Welcome to Trivago!
  </h1>

  <br>  <br>  <br>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
          <app-flightsearch (fetchFlightEmitter)="passData($event)" (priceRangeEmitter)="passRange($event)">


          
          </app-flightsearch>
      </div>

      <div class="col-md-8"> 
          <app-flightview [userForm]=searchForm [refineRange]=sliderRange ></app-flightview>
      </div>

    </div>
  </div>

  

  </div>