

    <ul class="nav nav-tabs">
        <li><a href="#oneway" data-toggle="tab">One Way</a></li>
        <li><a href="#return" data-toggle="tab">Return</a></li>
       
     </ul>
     <div class ="form-shadow">
     <div class="tab-content">
        <div class="tab-pane active" id="oneway"><div >
           <form ngNativeValidate (ngSubmit)="submitQuery1(userForm)" #userForm="ngForm" >
            <div class="form-group">
                <label class="input-name" for="originCity">Origin City:</label>
              <input type="text" [(ngModel)]="user.originCity"   name="originCity" id="originCity" placeholder="Enter Origin City" required><br>
            </div>
            <div class="form-group">
             
                <label class="input-name"for="destinationCity">Destination City:</label>
              <input type="text" [(ngModel)]="user.destinationCity"   name="destinationCity" id="destinationCity" placeholder="Enter Destination City" required><br>
            </div>
            <div class="form-group">
                <label class="input-name" for="departureDate">Departure Date:</label>
              <input type="date" [(ngModel)]="user.departureDate"   name="departureDate" id="departureDate" placeholder="Departure Date" required><br>
            </div>
            <div class="form-group">
              <label class="input-name" for="passengers">Passengers:</label>
                    <select  [(ngModel)]="user.count"   name="departuredate" id="passengers" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
            </div>
            
            <button class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
          </form></div> </div>
        <div class="tab-pane" id="return"><div class ="form-shadow"> 
          <form (ngSubmit)="submitQuery2(userForm)" #userForm="ngForm" >
            <div class="form-group">
                <label class="input-name" for="originCity">Origin City:</label>
              <input type="text" [(ngModel)]="user.originCity" name="originCity" id="originCity" placeholder="Enter Origin City"><br>
            </div>
            <div class="form-group">
             
                <label class="input-name"for="destinationCity">Destination City:</label>
              <input type="text" [(ngModel)]="user.destinationCity"  name="destinationCity" id="destinationCity" placeholder="Enter Destination City"><br>
            </div>
            <div class="form-group">
                <label class="input-name" for="departureDate">Departure Date:</label>
              <input type="date" [(ngModel)]="user.departureDate"  name="departureDate" id="departureDate" placeholder="Departure Date"><br>
            </div>
            <div class="form-group">
                <label class="input-name" for="returnDate">Return Date:</label>
              <input type="date" [(ngModel)]="user.returnDate"  name="returnDate" id="returnDate" placeholder="Return Date"><br>
            </div>
            <div class="form-group">
              <label class="input-name" for="passengers">Passengers:</label>
                    <select  [(ngModel)]="user.count"  name="departuredate" id="passengers" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                    </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button><br>
            
            
          </form>
          
        </div>
        
         </div><br><br>
         <p>Refine Flight Search</p>
         <input type="range" value="40000" min=1000 max=40000 name="pricefilter" id="pricefilter"  
         [(ngModel)]=value (ngModelChange)="sliderChange(value)" step="100"><br>
       
     </div>
    </div>
    
     
    
   

  











    
 